version: '3.8'

services:
  backend:
    build: ./backend
    ports:
      - "10000:10000"
    env_file:
      - ./backend/.env
    restart: always

  frontend:
    build: ./app180-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
    environment:
      - NEXT_PUBLIC_API_URL=http://localhost:10000
    restart: always
