
-- Corrección de la restricción de política de geolocalización
-- Permitimos 'none' para cuando la ubicación está desactivada
DO $$
BEGIN
    ALTER TABLE clients_180 DROP CONSTRAINT IF EXISTS clients_geo_policy_check;
    ALTER TABLE clients_180 ADD CONSTRAINT clients_geo_policy_check CHECK (geo_policy IN ('none', 'strict', 'soft', 'info'));
EXCEPTION
    WHEN OTHERS THEN
        RAISE NOTICE 'Error actualizando constraint: %', SQLERRM;
END $$;
